button {
    height: 50px;
    border: none;
    background: none;
    outline: none;
}

button:focus-visible{
    border: none;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

#editor {
    max-width: 800px;
    margin: 20px auto;
    height: 200px;
    border: 1px solid saddlebrown;
    padding: 10px;
    
}